* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0 auto;
  max-width: 80ex;
  padding: 1ex;
}

h1 {
  font-size: 3ex;
}

h2 {
  font-size: 2ex;
}

input {
  background: gainsboro;
  border: 0;
  outline: none;
  padding: 5px;
}

ol, ul {
  margin: 2ex;
  margin-right: 0;
  padding: 0;
}

table {
  width: 100%;
}

td:first-of-type {
  flex: 1 0;
}

tr + tr {
  margin-top: 1px;
}

tr.Output {
  background: yellowgreen;
  border-radius: 6px;
  display: block;
  margin-left: -1ex;
  padding-left: 1ex;
}

[button] {
  background: olive;
  border-radius: 1ex;
  color: white;
  cursor: pointer;
  font-size: 80%;
  padding: .5ex 3ex;
  transition: 200ms;
}

[button]:hover {
  background: darkolivegreen;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

[button] + [button] {
  background: darkRed;
  margin-left: 3ex;
}

[button] + [button]:hover {
  background: red;
}

[field] {
  background: gainsboro;
  flex-basis: 10ex;
  padding: 3px 1px;
}

[field] > * {
  display: block;
  width: 100%;
}

[field] input {
  background: white;
  border-bottom: 1px solid #AFAFAF;
  font-size: inherit;
}

[field] label {
  font-size: 80%;
}

.button-row {
  margin-top: 3ex;
}

.dot {
  color: darkRed;
  border-radius: 2ex;
  cursor: pointer;
  float: right;
  padding: 1px 1ex;
  position: relative;
  text-align: center;
  top: -1ex;
  transition: 200ms;
}

.dot:hover {
  background: red;
  color: white;
}

.flex-container {
  display: flex;
}

.flex-container > * {
  flex: 0 1 8ex;
}

.flex-container > *:first-of-type {
  flex: 1 0;
}

.instance .flex-container > *:last-of-type {
  flex-basis: 13ex;
}

.instance input {
  width: 6ex;
}

.table.Input + .table.Input label,
.table.Output + .table.Output label {
  display: none;
}