* {
  box-sizing: border-box;
}

body {
  counter-reset: processes;
  font-family: sans-serif;
  margin: 0 auto;
  max-width: 80ex;
  padding: 1ex;
}

h1 {
  font-size: 3ex;
}

h2 {
  font-size: 2ex;
}

input {
  background: gainsboro;
  border: 0;
  outline: none;
  padding: 5px;
}

ol, ul {
  margin: 2ex;
  // margin-right: 0;
  // padding: 0;
}

table {
  width: 100%;
}

td:first-of-type {
  flex: 1 0;
}

tr {
  margin: 0 -2ex;
  padding: 0 2ex;
}

tr + tr {
  margin-top: 1px;
}

tr.Output {
  background: rgba(154, 205, 50, 0.4);
  border-radius: 2px;
}

[button] {
  background: olive;
  border-radius: 1ex;
  color: white;
  cursor: pointer;
  font-size: 80%;
  padding: .5ex 3ex;
  transition: 200ms;
}

[button] + [button] {
  margin-left: 3ex;
}

[button]:hover {
  background: darkolivegreen;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

[contenteditable] {
  outline: none;
}

[field] {
  background: gainsboro;
  flex-basis: 10ex;
  padding: 3px 1px;
}

[field] > * {
  display: block;
  width: 100%;
}

[field] input {
  background: white;
  border-bottom: 1px solid #AFAFAF;
  font-size: inherit;
}

[field] label {
  font-size: 80%;
}

[warning] {
  background: darkRed;
}

[warning]:hover {
  background: red;
}

.button-row {
  margin-top: 3ex;
}

.dot {
  color: darkRed;
  border-radius: 2ex;
  cursor: pointer;
  padding: 1px 1ex;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  transition: 200ms;
}

.dot:hover {
  background: red;
  color: white;
}

.flex-container {
  display: flex;
}

.flex-container > * {
  flex: 0 1 8ex;
}

.flex-container > *:first-of-type {
  flex: 1 0;
}

.instance {
  border-top: 1px solid #555;
  padding: 1ex;
  position: relative;
}

.instance::before {
  bottom: 0;
  color: rgba(0, 0, 0, 0.2);
  counter-increment: processes;
  content: counter(processes);
  display: inline-block;
  font-size: 6ex;
  font-weight: 900;
  right: 0;
  position: absolute;
  text-align: right;
}

.instance:first-of-type {
  border: 0;
}

.instance + .instance {
  margin-top: 1ex;
}

.instance > * {
  // position: relative;
  z-index: 1;
}

.instance .flex-container > *:last-of-type {
  flex-basis: 13ex;
}

.instance input {
  width: 6ex;
}

.lacking-production {
  background: red;
  border-radius: 8px;
  color: white;
  font-size: 70%;
  margin-left: 1ex;
  padding: 4px 10px;
}

.processes {
  padding: 0 1ex;
}

.table.Input + .table.Input label,
.table.Output + .table.Output label {
  display: none;
}